{% extends "food/food_base.html" %}{% load static %} {% block title%}
Alimentos{%endblock%} {% block content %}
<section class="section-food container-vh" id="blur">
  <div class="container center-text">
    <h2 class="heading-secondary heading-food">
      Todos los restos de comida que puedes reutilizar
    </h2>
  </div>
  <div class="filter-content">
    <form method="get" action="{% url 'food:foods' %}">
      <select name="category" id="category" class="food-filter">
        <option value="" class="option">Seleccióne un filtro:</option>
        <option value="1">Frutas</option>
        <option value="2">Verduras</option>
        <option value="3">Lacteos</option>
        <option value="4">Granos</option>
        <option value="5">Proteinas</option>
        <option value="6">Otros</option>
        <option value="7">No permitidos</option>
      </select>

      <button class="btn-filter">Filtrar</button>
    </form>
    <form method="get" action="{% url 'food:foods' %}">
      <button class="btn-filter">Borrar Filtros</button>
    </form>
    {% if user.is_superuser %}
    <form action="{% url 'food:create' %}">
      <button class="btn-filter">Crear</button>
    </form>
    {% endif %}
  </div>
  {% if foods.count == 0 %}
  <div class="container-big grid center-text">
    <h3 class="heading-tertiary">No se encontró ningun alimento</h3>
  </div>
  {% else %}
  <div class="container-big grid grid--5-cols container-height scroll">
    {% for food in foods %}
    <div class="food">
      {% if food.image %}
      <img class="food-img" src="{{food.image.url}}" alt="Food Image" />
      {% else %}
      <img
        class="food-img no-img"
        src="{% static 'img/noimage.jpg' %}"
        alt="No Image"
      />
      {% endif %}
      <div class="food-content center-text">
        <div class="meal-tags">
          <span class="tag tag--{{food.category}}">{{ food.category}}</span>
        </div>
        <p class="food-title">{{food.name}}</p>
        <ul class="food-attributes">
          <li class="food-attribute">
            <span>Peso aproximado: <strong>{{food.weight}}g</strong> </span>
          </li>
          {% if food.category.id != 7 %}
          <li class="food-attribute">
            <form action="{% url 'food:details' food.id %}">
              <button class="more-info">Más información</button>
            </form>
          </li>
          {% endif %} {% if user.is_superuser %}
          <li class="food-attribute">
            <form action="{% url 'food:delete' food.id %}">
              <button class="delete-food">Borrar</button>
            </form>
          </li>
          {% endif %}
        </ul>
      </div>
      <!-- <script>
        function toggle() {
          var blur = document.body;
          blur.classList.toggle("active");
        }
      </script> -->
    </div>
    {% endfor %}
  </div>
  <!-- <div class="popup">
    <h3 class="heading-tertiary">
      Are you sure you want to delete this element?
    </h3>
    <a class="delete-food" href="#" onclick="toggle()">Delete</a>
    <a class="delete-food" href="javascript:void(0)" onclick="toggle()"
      >Cancel</a
    >
  </div> -->
  {% endif %}
</section>
{% endblock %}
