{% extends "food/food_base.html" %}{% load static %}{% block content %}
<section class="food-delete-section container-vh">
  <div class="wrapper delete-food-wrapper">
    <form method="post">
      {% csrf_token %}
      <p class="food-name-delete center-text">{{food.name}}</p>
      <p class="delete-food-heading">
        Are you sure you want to delete this item?
      </p>
      {{ form }}
      <div class="delete-buttons">
        <input type="submit" value="Confirm" class="btn-confirm" />
        <a href="/food" class="btn-cancel">Cancel</a>
      </div>
    </form>
  </div>
</section>
{% endblock %}
