{% extends "base.html" %}{% load static %}{% block main %}
<section class="section-home container-vh">
  <div class="home-container">
    <div class="alert hide">
      <ion-icon class="alert-icon" name="alert-circle-outline"></ion-icon>
      <span class="msg"
        >Atención: No se puede empezar un nuevo proceso mientras otro este
        activo</span
      >
      <div class="close-btn">
        <ion-icon name="close-outline"></ion-icon>
      </div>
    </div>
    <div class="past-process center-text">
      <h1 class="not-allowed-heading">Past Processes</h1>
      <div class="not-allowed-items">
        <div class="identify">
          <p>ID</p>
          <p>Size</p>
          <p>Date</p>
        </div>
        {% for process in past_processes %}
        <a href="{% url 'trash:details' process.id %}">
          <div class="pp-item">
            <ion-icon name="trash-outline" class="pp-icon"></ion-icon>
            <p class="past-process-txt">{{process}}</p>
            <p class="past-process-txt">{{process.size}}</p>
            <p class="past-process-txt">
              {{ process.start_date|date:"M d, Y" }}
            </p>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
    <div class="start-process center-text">
      <h1 class="form-process-heading">START PROCESS</h1>
      <form method="POST" action="" class="form-process">
        {% csrf_token %} {{form.as_p}}
        <button type="submit" class="btn btn-start">START</button>
      </form>
    </div>
    <div class="not-allowed center-text">
      <h1 class="not-allowed-heading">Not Allowed Items</h1>
      <div class="not-allowed-items">
        {% for food in not_foods %}
        <div class="not-allowed-item">
          <img
            class="not-allowed-food-img"
            src="{{food.image.url}}"
            alt="Food Image"
          />
          <p class="not-allowed-food-txt">{{food.name}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <script>
      {% if current_process == True %}
        $(".alert").removeClass("hide");
        $(".alert").addClass("show");
        $(".alert").addClass("showAlert");
      {% endif %}
    $(".close-btn").click(function () {
      $(".alert").addClass("hide");
      $(".alert").removeClass("show");
    });
  </script>
</section>
{% endblock %}
