{% extends "user/user_base.html" %}{% load static %} {% block content %}
<section class="user-section container-vh">
  {% load humanize %}
  <div class="all-user-container">
    <div class="user-information-container center-text">
      <div class="circular--portrait">
        <img
          class="profile-pic"
          src="{{user.profile.profileimg.url}}"
          alt="{{ user.username }}"
          accept=".jpg,.jpeg,.png"
        />
      </div>
      <div class="user-info">
        <div class="user-name">
          <label>Nombre</label>
          <p>{{user.first_name}} {{user.last_name}}</p>
        </div>
        <div class="user-username">
          <label>Usuario:</label>
          <p>{{user.username}}</p>
        </div>
        <div class="user-email">
          <label>Email:</label>
          <p>{{user.email}}</p>
        </div>
        {% if user.profile.location %}
        <div class="user-location">
          <label>Ubicación:</label>
          <p>{{user.profile.location}}</p>
        </div>
        {% endif %} {% if user.profile.bio %}
        <div class="user-bio">
          <label>Bio:</label>
          <p style="font-size: 1.8rem">{{user.profile.bio}}</p>
        </div>
        {% endif %}
        <form action="{% url 'user:update'%}">
          <button type="submit" class="btn btn-edit-profile">
            Editar Perfil
          </button>
        </form>
      </div>
    </div>
    <div class="process-sum-container center-text">
      <p>{{user.profile.processes.count}}</p>
      <label>Procesos Totales</label>
    </div>
    <div class="process-sum-container center-text process-hours">
      <div id="th">
        <p>{{user.profile.total_hours}}</p>
      </div>
      <label>Tiempo Total</label>
    </div>
    <div class="process-sum-container center-text">
      <p>{{user.profile.total_weight | intcomma}}g</p>
      <label>Peso Total</label>
    </div>

    <div class="graph-container">
      <div class="slideshow-container">
        <div class="mySlides fade">
          <form
            method="get"
            action="{% url 'user:profile' %}"
            class="filters-profile"
          >
            <select class="food-filter" name="filter" id="filter">
              <option value="">Ordenar por:</option>
              <option value="day">Día</option>
              <option value="week">Semana</option>
              <option value="month">Mes</option>
              <option value="year">Año</option>
            </select>
            <select class="food-filter" name="type" id="type">
              <option value="">Obtener data por:</option>
              <option value="duration">Duración</option>
              <option value="weight">Peso</option>
            </select>
            <button class="btn-filter">Obtener</button>
          </form>
          <div class="first-graph center-text">
            <h1>Procesos {{filter}}</h1>
            <canvas id="firstChart"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
              const aux = document.querySelector("#th p").innerText;
              let txt = aux.replace("day", "día");
              document.querySelector("#th p").innerText = txt;

              const ctx_first = document.getElementById("firstChart");

              new Chart(ctx_first, {
                type: "bar",
                data: {
                  labels: [
                    {% for date in processes_date_list %}'{{date}}',{% endfor %}
                  ],
                  datasets: [
                    {
                      label: "{{data}}",
                      data: [
                        {% for data in processes_data_list %}'{{data}}',{% endfor %}
                      ],
                      borderWidth: 1,
                      borderColor: '#5c715e',
                      backgroundColor: '#b6cdbd'
                    },
                  ],
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true,
                    },
                  },
                },
              });
            </script>
          </div>
        </div>

        <div class="mySlides fade">
          <div class="pie-charts">
            <div>
              <h1 style="font-size: 2rem" class="center-text">
                Frutas Procesadas
              </h1>
              <canvas id="firstPieChart"></canvas>
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                              const ctx_firstpie = document.getElementById("firstPieChart");

                              new Chart(ctx_firstpie, {
                                type: "pie",
                                data: {
                                  labels: [
                                    {% for name in food_fruit_name_list %}'{{name}}',{% endfor %}
                                  ],
                                  datasets: [
                                    {
                                      label: "# of times food processed",
                                      data: [
                                        {% for data in food_fruit_data_list %}'{{data}}',{% endfor %}
                                      ],
                                      borderWidth: 1,
                                      backgroundColor: ["#B6CDBD", "#7A9B76", "#b6cdbd", "#8A7E72", "#d3e1d7", "#49524c", "#6d7b71", "#373e39", "#317a5a", "#b1d6c6", "#183d2d", "#3d9970", "#ecf5f1", "#111111", "#AAAAAA"],
                                    },
                                  ],
                                },
                                options: {
                                  scales: {
                                    y: {
                                      beginAtZero: true,
                                    },
                                  },
                                  plugins: {
                  legend: {
                    display: false
                  }
                }

                                },
                              });
              </script>
            </div>
            <div>
              <h1 style="font-size: 2rem" class="center-text">
                Verduras Procesadas
              </h1>
              <canvas id="secondPieChart"></canvas>
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                              const ctx_secondpie = document.getElementById("secondPieChart");

                              new Chart(ctx_secondpie, {
                                type: "pie",
                                data: {
                                  labels: [
                                    {% for name in food_vegetable_name_list %}'{{name}}',{% endfor %}
                                  ],
                                  datasets: [
                                    {
                                      label: "# of times food processed",
                                      data: [
                                        {% for data in food_vegetable_data_list %}'{{data}}',{% endfor %}
                                      ],
                                      borderWidth: 1,
                                      backgroundColor: ["#B6CDBD", "#7A9B76", "#b6cdbd", "#8A7E72", "#d3e1d7", "#49524c", "#6d7b71", "#373e39", "#317a5a", "#b1d6c6", "#183d2d", "#3d9970", "#ecf5f1", "#111111", "#AAAAAA"],
                                    },
                                  ],
                                },
                                options: {
                                  scales: {
                                    y: {
                                      beginAtZero: true,
                                    },
                                  },
                                  plugins: {
                  legend: {
                    display: false
                  }
                }

                                },
                              });
              </script>
            </div>
            <div>
              <h1 style="font-size: 2rem" class="center-text">
                Lácteos Procesadas
              </h1>
              <canvas id="thirdPieChart"></canvas>
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                              const ctx_thirdpie = document.getElementById("thirdPieChart");

                              new Chart(ctx_thirdpie, {
                                type: "pie",
                                data: {
                                  labels: [
                                    {% for name in food_dairy_name_list %}'{{name}}',{% endfor %}
                                  ],
                                  datasets: [
                                    {
                                      label: "# of times food processed",
                                      data: [
                                        {% for data in food_dairy_data_list %}'{{data}}',{% endfor %}
                                      ],
                                      borderWidth: 1,
                                      backgroundColor: ["#B6CDBD", "#7A9B76", "#b6cdbd", "#8A7E72", "#d3e1d7", "#49524c", "#6d7b71", "#373e39", "#317a5a", "#b1d6c6", "#183d2d", "#3d9970", "#ecf5f1", "#111111", "#AAAAAA"],
                                    },
                                  ],
                                },
                                options: {
                                  scales: {
                                    y: {
                                      beginAtZero: true,
                                    },
                                  },
                                  plugins: {
                  legend: {
                    display: false
                  }
                }

                                },
                              });
              </script>
            </div>
            <div>
              <h1 style="font-size: 2rem" class="center-text">
                Granos Procesados
              </h1>
              <canvas id="fourthPieChart"></canvas>
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                              const ctx_fourthpie = document.getElementById("fourthPieChart");

                              new Chart(ctx_fourthpie, {
                                type: "pie",
                                data: {
                                  labels: [
                                    {% for name in food_grain_name_list %}'{{name}}',{% endfor %}
                                  ],
                                  datasets: [
                                    {
                                      label: "# of times food processed",
                                      data: [
                                        {% for data in food_grain_data_list %}'{{data}}',{% endfor %}
                                      ],
                                      borderWidth: 1,
                                      backgroundColor: ["#B6CDBD", "#7A9B76", "#b6cdbd", "#8A7E72", "#d3e1d7", "#49524c", "#6d7b71", "#373e39", "#317a5a", "#b1d6c6", "#183d2d", "#3d9970", "#ecf5f1", "#111111", "#AAAAAA"],
                                    },
                                  ],
                                },
                                options: {
                                  scales: {
                                    y: {
                                      beginAtZero: true,
                                    },
                                  },
                                  plugins: {
                  legend: {
                    display: false
                  }
                }

                                },
                              });
              </script>
            </div>
            <div>
              <h1 style="font-size: 2rem" class="center-text">
                Proteinas Procesadas
              </h1>
              <canvas id="fifthPieChart"></canvas>
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                              const ctx_fifthpie = document.getElementById("fifthPieChart");

                              new Chart(ctx_fifthpie, {
                                type: "pie",
                                data: {
                                  labels: [
                                    {% for name in food_protein_name_list %}'{{name}}',{% endfor %}
                                  ],
                                  datasets: [
                                    {
                                      label: "# of times food processed",
                                      data: [
                                        {% for data in food_protein_data_list %}'{{data}}',{% endfor %}
                                      ],
                                      borderWidth: 1,
                                      backgroundColor: ["#B6CDBD", "#7A9B76", "#b6cdbd", "#8A7E72", "#d3e1d7", "#49524c", "#6d7b71", "#373e39", "#317a5a", "#b1d6c6", "#183d2d", "#3d9970", "#ecf5f1", "#111111", "#AAAAAA"],
                                    },
                                  ],
                                },
                                options: {
                                  scales: {
                                    y: {
                                      beginAtZero: true,
                                    },
                                  },
                                  plugins: {
                  legend: {
                    display: false
                  }
                }

                                },
                              });
              </script>
            </div>
            <div>
              <h1 style="font-size: 2rem" class="center-text">
                Otros Alimentos
              </h1>
              <canvas id="sixthPieChart"></canvas>
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                              const ctx_sixthpie = document.getElementById("sixthPieChart");

                              new Chart(ctx_sixthpie, {
                                type: "pie",
                                data: {
                                  labels: [
                                    {% for name in food_other_name_list %}'{{name}}',{% endfor %}
                                  ],
                                  datasets: [
                                    {
                                      label: "# of times food processed",
                                      data: [
                                        {% for data in food_other_data_list %}'{{data}}',{% endfor %}
                                      ],
                                      borderWidth: 1,
                                      backgroundColor: ["#B6CDBD", "#7A9B76", "#b6cdbd", "#8A7E72", "#d3e1d7", "#49524c", "#6d7b71", "#373e39", "#317a5a", "#b1d6c6", "#183d2d", "#3d9970", "#ecf5f1", "#111111", "#AAAAAA"],
                                    },
                                  ],
                                },
                                options: {
                                  scales: {
                                    y: {
                                      beginAtZero: true,
                                    },
                                  },
                                  plugins: {
                  legend: {
                    display: false
                  }
                }

                                },
                              });
              </script>
            </div>
          </div>
        </div>

        <div class="mySlides fade">
          <div class="effects">
            <h1 class="co2-heading center-text">
              ¿A qué equivalen {{user.profile.total_methane | intcomma}} ml de
              CH<sup>4</sup>
            </h1>
            <div class="co2-comparison">
              <div class="co2-element">
                <ion-icon name="car-outline"></ion-icon>
                <p>
                  <strong>{{user.profile.total_km | intcomma}}km</strong>
                  recorridos en un coche promedio
                </p>
              </div>
              <div class="co2-element">
                <ion-icon name="cloud-outline"></ion-icon>
                <p>
                  <strong>{{user.profile.total_air | intcomma}} días</strong> de
                  oxigeno para un humano.
                </p>
              </div>
              <div class="co2-element">
                <ion-icon name="flash-outline"></ion-icon>
                <p>
                  <strong
                    >{{user.profile.total_energy | intcomma}} horas</strong
                  >
                  de recarga de telefonos.
                </p>
              </div>
              <div class="co2-element">
                <ion-icon name="bonfire-outline"></ion-icon>
                <p>
                  <strong>{{user.profile.total_wood | intcomma}} kg</strong> de
                  madera quemada
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />

      <!-- The dots/circles -->
      <div style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
      <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
          showSlides((slideIndex += n));
        }

        // Thumbnail image controls
        function currentSlide(n) {
          showSlides((slideIndex = n));
        }

        function showSlides(n) {
          let i;
          let slides = document.getElementsByClassName("mySlides");
          let dots = document.getElementsByClassName("dot");
          if (n > slides.length) {
            slideIndex = 1;
          }
          if (n < 1) {
            slideIndex = slides.length;
          }
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex - 1].style.display = "block";
          dots[slideIndex - 1].className += " active";
        }
      </script>
    </div>
  </div>
</section>

{% endblock %}
