{% extends "base.html" %}{% load static %}{% block title %}Login{% endblock %}
{% block main %}
<div class="body-login">
  <div class="wrapper">
    <form action="" method="POST">
      {% csrf_token %}
      <h1>Ingresa a tu cuenta</h1>
      <div class="input-box">
        <!-- <input type="text" placeholder="Username" required /> -->
        {{form.username}}
        <ion-icon name="person" class="login-icon"></ion-icon>
      </div>
      <div class="input-box">
        {{form.password}}
        <!-- <input type="password" placeholder="Password" required /> -->
        <ion-icon name="lock-closed" class="login-icon"></ion-icon>
      </div>
      <div class="remember-forget">
        <a href="{% url 'core:reset_password' %}">¿Olvidaste tu contraseña?</a>
      </div>
      <button type="submit" class="btn-login">Login</button>
      <div class="register-link">
        <p>
          Don't have an account?<a
            target="_self"
            href="{% url 'core:signup' %}"
          >
            Register</a
          >
        </p>
      </div>
      <div class="errors-signup">{{ form.errors }}</div>
    </form>
  </div>
</div>
{% endblock %}
