{% extends "base.html" %}{% load static %}{% block title %}Olvide mi contraseña
{%endblock %}{% block main %}
<div class="body-password">
  <div class="wrapper">
    <form action="" method="POST">
      {% csrf_token %}
      <h1>Ingresa tu nueva contraseña</h1>
      <p class="password-text">
        Ingrese su nueva contraseña dos veces para que podamos verificar que la
        escribió correctamente.
      </p>
      <div class="input-box reset-password">{{ form }}</div>
      <button style="margin-top: 10rem" type="submit" class="btn-login">
        Restablecer
      </button>
      <div class="errors-signup">{{ form.errors }}</div>
    </form>
  </div>
</div>
{% endblock %}
