{% extends "base.html" %}{% load static %}{% block title %}Olvide mi contraseña
{%endblock %}{% block main %}
<div class="body-password">
  <div class="wrapper">
    <form action="" method="POST">
      {% csrf_token %}
      <h1>¿Olvidaste tu contraseña?</h1>
      <p class="password-text">
        Ingrese su dirección de correo electrónico a continuación y le
        enviaremos instrucciones por correo electrónico para configurar una
        nueva.
      </p>
      <div class="input-box reset-password">
        <!-- <input type="text" placeholder="Username" required /> -->
        {{ form.as_p}}
        <ion-icon name="mail-outline" class="login-icon"></ion-icon>
      </div>
      <button type="submit" class="btn-login">Enviar</button>
      <div class="errors-signup">{{ form.errors }}</div>
    </form>
  </div>
</div>
{% endblock %}
